-
	const products = [
		{
			name: `Филадельфия`,
			image: `fila.jpg`,
			price: `400p.`,
		},
		{
			name: `Запеченные роллы`,
			image: `fired.jpg`,
			price: `300p.`,
		},
		{
			name: `Темпура`,
			image: `tempura.jpg`,
			price: `350p.`,
		},
	]

doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		include utils/fonts
		title Main Page
	body
		.wrapper
			.product-cart
				h3.product-cart__title Ваш заказ
				.product-cart__products
				.product-cart__fullprice Итого: #[span 0р.]
				button.product-cart__order Заказать
			.products
				- let id = 1
				each product in products
					.product__item(data-id= id)
						- id++
						.product__item-image
							img(src= `@img/${product.image}`).product__item-img
						h3.product__item-title= product.name
						.product__item-count.count
							button.count__minus
							input(type='text' value=0).count__current
							button.count__plus +
						.product__item-price= product.price
						button.product__item-add Добавить в корзину
		include utils/scripts